@import "./variables.css";
@import "./fonts.css";

body {
  margin: 0;
  background-color: var(--gray-dark);
}

.page{
position: absolute;
width: 1280px;
height: 1945px;
left: 0px;
top: 32px;

}

.nav-bar{
  background-color: black;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 200px;
  height: 720px;
}

.nav-logo {
  width: 117px;
  position: absolute;
  left: 16%;
  right: 25.33%;
  top: 4.44%;
  bottom: 91.11%;
}
.nav-icon{
  position: absolute;
  left: 18%;
  bottom: 85.00%;
  width: 20px;
  height: 20px;
}

.nav-button{
  position: absolute;
  left: 35%;
  bottom: 84.80%;
  background-color: black;
  color: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.search-icon{
  position: absolute;
  left: 18%;
  bottom: 78.80%;
  width: 20px;
  height: 20px;
}

.search-button{
  position: absolute;
  left: 35%;
  bottom: 78.80%;
  background-color: black;
  color: var(--light-gray);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.main-header{
color: #FFFFFF;
position: absolute;
width: 61px;
height: 29px;
left: 232px;
top: 15px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
padding: 0;
}

.card-article-container{
  display: flex;
  width: auto;
  flex-shrink: 1;
  flex-wrap: wrap;
  position: absolute;
  left: 232px;
  top: 77px;
  background-color: var(--gray-dark);
  }

  .card-box{
  margin: 10px;
  border: 3px;
  background-color:black;
  border-radius: 8px;
  }

  .card-image{
  width: 192px;
  height: 192px;
  border-radius: 8px;
  }

  .card-title{
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    }

    .card-artist{
      color: #FFFFFF;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      }
      .card-button{
        color: black;
      }
