@import "./variables.css";
@import "./fonts.css";

body {
  margin: 0;
}

.App {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
}

img {
  width: 1500px;
}

.logo {
  width: 200px;
}
